@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --nav-height: 50px;
}

* {
    box-sizing: content-box;
    font-family: "Rubik", sans-serif;
    color: black;
}

@keyframes background {
    0% {
        background-position: left;
    } 50% {
        background-position: right;
    } 100% {
        background-position: left;
    }
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-size: 300% 300%;
    animation: background 7s infinite;
    background-image: linear-gradient(135deg, #d2ccff, #b0ffb9, #ffc6c6);
}

#nav * {
    color: white;
    max-height: var(--nav-height);
}

#nav {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    background: black;
}

#icon {
    padding: 0 20px;
}

#links {
    justify-content: end;
    padding: 0 10px;
    justify-self: end;
    flex: 1;
}

#links a {
    margin: 0 10px;
    font-size: 14px;
    height: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: border 250ms;
    border-bottom: 0 solid white;
}

#links a:hover, #links a[selected] {
    border-bottom: 5px solid white;
}

#website-name, #links {
    display: flex;
    align-items: center;
    height: var(--nav-height);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
}

input[type="text"]:not([readonly]) {
    padding: 0;
    font-size: 20px;
    field-sizing: content;
    min-width: 1ch;
    max-width: min(25ch, 90%);
    height: 50px;
    font-family: monospace;
    letter-spacing: 1ch;
    border: none;
    outline: none;
    background: repeating-linear-gradient(90deg, black 0, black 1ch, transparent 1ch, transparent 2ch) 0 100%/100% 2px no-repeat;
}

input[type="button"], input[type="submit"] {
    font-weight: bold;
    color: white;
    background: #435f3a;
    border: 0;
    border-radius: 5px;
    outline: 0;
    padding: 10px 15px;
    transition: background 100ms;
}

input[type="button"][disabled], input[type="submit"][disabled] {
    opacity: .5;
}

input[type="button"]:not([disabled]):hover, input[type="submit"]:not([disabled]):hover {
    background: #80a773
}

legend {
    background: black;
    color: white;
    padding: 5px 10px;
}

legend * {
    color: white;
}

form {
    min-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

fieldset {
    border: 2px solid black;
    background: white;
    border-radius: 5px;
}

#hangman {
    width: 25%;
}

#hangman-box {
    width: max-content;
}

#terrapin {
    width: 300px;
    max-width: 90%;
    object-fit: cover;
    aspect-ratio: 1;
    background-color: #151515;
    background-image: url(images/inkscape_terrapin.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px solid #e75a5a;
}

.tile {
    background: #e75a5a;
    opacity: 0;
    transition: opacity 500ms;
}

.tile[opaque="true"] {
    opacity: 1;
}

thead {
    background: #e75a5a;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: white;
}

td, th {
    padding: 7px;
    border: 0;
}

.hangman-labels {
    text-align: right;
}

table:not([borderless]) td, table:not([borderless]) th {
    border: 1px solid black !important;
}

table:not([borderless]) tr:nth-child(even) {
    background: #e7e7e7;
}

#guessed-word {
    letter-spacing: 10px;
}

#name-input {
    font-weight: normal;
    field-sizing: fixed;
    width: 100%;
    letter-spacing: normal;
    background: #e7e7e7;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 14px;
    transition: border 250ms;
    height: 40px;
}

#name-input:focus {
    border-bottom: 2px solid #ff4747;
}

#score-count {
    border: 0;
    outline: 0;
    background: transparent;
}

tr[place="1"] {
    background: linear-gradient(45deg, #fff067, #ffb167) !important;
}

tr[place="2"] {
    background: linear-gradient(45deg, #eeebff, #b3b1c3) !important;
}

tr[place="3"] {
    background: linear-gradient(45deg, #efb75e, #ff7944) !important;
}

tr[place="1"], tr[place="2"], tr[place="3"] {
    font-weight: bold;
}